---
layout: base
---
<div class="blog-cover" style="background-image:url(/images/{{ site.inc.cover_image }});">
    
    <section>
        <div class="container">
            <h1>{{ site.inc.title }}</h1>
            {% if site.inc.subtitle %}<h3>{{ site.inc.subtitle }}</h3>{% endif %}
        
            {% if site.inc.twitter %}
            <a href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter"></i></a>
            {% endif %}
            {% if site.inc.facebook %}
            <a href="http://facebook.com/{{ site.inc.facebook }}" title="Like on Facebook" target="_blank"><i class="icon icon-facebook"></i></a>
            {% endif %}
            {% if site.inc.reddit %}
            <a href="http://reddit.com/r/{{ site.inc.reddit }}" title="Follow on Reddit" target="_blank"><i class="icon icon-reddit"></i></a>
            {% endif %}
            <a href="/feed.xml" title="RSS Feed">
                <i class="icon icon-rss"></i>
            </a>
        </div>
    </section>
</div>

<article class="container">

<h4>Restore the Fourth is a grassroots effort to raise awareness about mass surveillance by governments, and to combat this violation of privacy through encryption, local and federal political action, and other necessary methods. This website serves Restore the Fourth activists in the Bay Area.</h4>
<p>This is a global effort, and it is non-partisan. We don’t think this is an issue that should be limited to the activist community either. Every demographic is outraged by this flagrant disregard for the rule of law. We’ve spent the summer raising awareness, now we’re going to change the status quo. That means telling our representatives that we care. Supporting bills in congress. Teaching our representatives about technology so they can understand what they are voting for. Passing non-binding resolutions on the local level against government surveillance. And doing our best to protect individuals by teaching encryption techniques that are accessible to anyone.</p>
<h4>As an organization we are governed by the three principles:</h4>
<ol>
<li>The issue is the violation of the Fourth Amendment</li>
<li>Partisan issues should be left out, as well as partisan rhetoric</li>
<li>No violence in any RT4 action.</li>
</ol>
<p>This part of RT4 is also governed by one principle: no civil disobedience.</p>
<h4>Events so far:</h4>
<p>We’ve hosted two large events – the&nbsp; July 4th rally, and the&nbsp; August 4th “1984 Day” speeches and march. These were two very different events aimed to introduce people to the issue and raise awareness. We delivered our notes from 1984 Day and met with Nancy Pelosi’s local chief of staff with a coalition of other groups later in August.</p>
<h4>Our strategy:</h4>
<ul class="bullet_arrow4 imglist">
<li>Planning is done via the Facebook group&nbsp;<a href="https://www.facebook.com/groups/RestoretheFourthSF/"> https://www.facebook.com/groups/RestoretheFourthSF/</a>&nbsp; and the subreddit&nbsp; <a href="http://www.reddit.com/r/restorethefourthSF/">http://www.reddit.com/r/restorethefourthSF/</a>&nbsp; which allow anyone to post. We host monthly open strategy meetings for all Bay Area residents. This is the only place to introduce entirely new projects that require a vote. Please visit the events page to find the next meeting.</li>
</ul>
<ul class="bullet_arrow4 imglist">
<li><strong>Bay Area Local RT4s</strong>&nbsp; you can organize actions that are more specific to your local politics, for instance outreach to your own congressman or getting city council resolutions passed. We want to provide support on how that is done. Please sign up for a specific geographical area using our mailing list form&nbsp;<a href="http://restorethefourthsf.com/mailinglist/">http://restorethefourthsf.com/mailinglist/ </a>Please don’t sign up this way if you’re not ok with sharing your email address with other RT4 activists in your community.</li>
</ul>
<ul class="bullet_arrow4 imglist">
<li><strong>Encryption</strong> The most effective way to prevent the government from viewing your online communications is to encrypt them. There are fast and easy ways to start using encrypted text messaging, instant messaging and email. Currently Sudoroom is hosting cryptoparties on the second Sunday of each month in Oakland. We are planning cryptoparties in San Francisco. Meshnets can be used to create internet networks which are completely protected by encryption. Alcides has started the San Francisco-based Meshnet, he can be reached via e64.us/home/contact. He’s currently testing his meshlocal and looking for volunteers. Sudoroom is starting the Oakland meshnet and eventually they will be joined.</li>
</ul>
</article>
